{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-sm p-4 text-center">
                <h2 class="text-success mb-3">You have been logged out!</h2>
                <p class="lead">Thank you for visiting. You can log in again below.</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Log In Again</a>
            </div>
        </div>
    </div>
{% endblock %}